.bg-none {
  background-color: transparent;
}

.bg-white {
  background-color: @default-white;
}

.bg-main {
  background-color: @bg-main;
}

.bg-blue {
  background-color: @bg-blue;
}

.bg-orange {
  background-color: @bg-orange;
}

.bg-red {
  background-color: @bg-red;
}

.bg-purple {
  background-color: @bg-purple !important;
}

.text-blue {
  color: @color-blue;
}

.text-orange {
  color: @color-orange;
}

.text-red {
  color: @color-red;
}

.text-purple {
  color: @color-purple;
}

.text-card-title-color {
  color: @color-card-title;
}

.text-card-description-color {
  color: @color-card-description;
}

.text-table-title {
  color: @color-table-title;
}

.text-title-size {
  font-size: @text-title !important;
}

.text-paragraph-size {
  font-size: @text-paragraph;
}

.text-subtitle-size {
  font-size: @text-subtitle;
}

.text-small-size {
  font-size: @text-small;
}

.space-around {
  padding: @padding-main;
}

.round-sm {
  border-radius: @border-radius-small;
}

.round-lg {
  border-radius: @border-radius-large;
}

.font-500 {
  font-weight: 500;
}

.font-400 {
  font-weight: 500;
}

.border-none {
  border: none;
}

.center-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  span {
    margin-left: 10px;
  }
  svg {
    width: 13px;
    height: 13px;
  }
}
.color-button-white {
  color: @color-button-white;
}
