@bg-main: #edf2f7;
@bg-red: #fedde6;
@bg-purple: #efe2fe;
@bg-blue: #c8e7f9;
@bg-orange: #feebc8;

@color-light: #718096;
@color-red: #922b6c;
@color-purple: #574195;
@color-blue: #2c5282;
@color-orange: #91472c;
